html{
    background-color: #0c2e3f;
}

a {
text-decoration: none;
}

.navegacion{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px 97.47% 0px 0px;
    background-color:#2b9bc8;
}
.mover1{
    position: absolute;
    left: 5%;
    top: 1.7%;
}
.mover2{
    position: absolute;
    left: 11.900%;
    top: -20%;
}
.mover3{
    position: absolute;
    left: 19%;
    top: 5%;
    
}
.mover4{
    position: absolute;
    left: 26%;
    top:10%;
    
}
.mover5{
    position: absolute;
    left: 33%;
    bottom: -7%;
    
}
